/* Error: Undefined variable.
 *   ,
 * 4 |     font-size: $coprs-font-size;
 *   |                ^^^^^^^^^^^^^^^^
 *   '
 *   scss\layout\_title.scss 4:16  @import
 *   scss\app.scss 8:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502      font-size: $coprs-font-size;\d\a   \2502                 ^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\layout\\_title.scss 4:16  @import\a   scss\\app.scss 8:9             root stylesheet";
}
