@font-face {
  font-family: "chillax";
  src: url("../fonts/Chillax-Regular.otf");
}
@font-face {
  font-family: "chillax-medium";
  src: url("../fonts/Chillax-Medium.otf");
}
@font-face {
  font-family: "OpenS-Light";
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenS";
  src: url("../fonts/OpenSans-Regular.ttf");
}
/* Reset css */
*,
::before,
::after {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

header {
  padding: 1% 8%;
  color: white;
  background-color: #1D5C58;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  /* HIDE HAMBURGER */
}
header #hamburger {
  display: none;
}
@media only screen and (max-width: 780px) {
  header header nav ul {
    display: none;
  }
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  margin-left: 25px;
}

header nav ul li:hover {
  border-bottom: 1px solid white;
  border-radius: 2px;
}

header img.muew-logo {
  width: 70%;
}

/* changement de langue */
div.deroulant {
  flex-direction: row;
  align-items: center;
  position: relative;
  display: inline-block;
}

.langage {
  background-color: skyblue;
  color: white;
}

.langage:hover {
  background-color: blue;
}

.langage > div {
  display: none;
  background-color: skyblue;
}

.langage > div > a {
  color: blue;
  display: block;
}

.deroulant:hover div {
  display: block;
}

/* btn CTA */
div.btn-CTA {
  display: flex;
  position: fixed;
  right: 0;
  top: 80%;
  flex-direction: row;
  float: right;
  clear: right;
  background-color: #1D5C58;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

div.btn-CTA a {
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.btn-CTA a p {
  margin-left: 5px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2% 8%;
  color: white;
  background-color: #1D5C58;
}

footer > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
  clear: right;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div > ul > li,
footer > div p {
  padding-bottom: 10px;
}

footer > ul li {
  padding-right: 10px;
}

footer > div > div img.footer-logo {
  margin: auto;
  padding-bottom: 20px;
}

footer div.align {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer div.align p {
  padding: 0;
}

footer div.align img {
  width: 10%;
  display: flex;
  float: right;
}

footer > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

html {
  margin: 0 !important;
  font-family: "OpenS-Light";
  font-size: 20px;
  font-weight: lighter;
}

h1,
h2,
h3 {
  font-family: "chillax-medium";
}

h1 {
  font-size: 48px;
  line-height: 118%;
}

h2 {
  font-size: 32px;
  line-height: auto;
}

h3 {
  font-size: 24px;
}

.h1-def {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  font-weight: bolder;
}

footer {
  font-size: 12px;
  font-family: "chillax";
}
footer .footer-menu {
  font-family: "chillax-medium";
  font-size: 20px;
}

article {
  margin: 1% 8%;
}

.h1-def {
  color: gray;
  font-size: 13px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0% 3%;
  max-width: 100%;
  align-items: center;
  grid-auto-flow: column;
}

.grid .grid-art {
  text-align: center;
}

.activity div.grid .grid-art {
  padding: 20px;
  position: relative;
  border: 1px solid #1D5C58;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.activity div.grid .grid-art a {
  position: absolute;
  padding: 5px;
  bottom: -14px;
  background-color: white;
}

/* presentation creatrice */
article.creator {
  color: white;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  background-color: #1D5C58;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

article.creator img {
  padding: 2% 0 2% 3%;
  width: 20%;
}

article.creator > div {
  margin: 2% 8% 2% 2%;
  display: flex;
  flex-direction: column;
}

.wrap {
  padding: 0px 10%;
  font-family: "OpenS-Light";
  font-size: 20px;
}

/** ----------------SECTION 1-------------- **/
.s1_acc {
  margin-top: 5%;
  text-align: center;
}

.s1_acc article {
  margin: 3% 0;
}

.s1_acc h1 {
  padding: 0 10%;
  margin: auto;
}

.s1_acc p {
  width: 50%;
  margin: auto;
}

/** ---------------SECTION 2----------------- **/
.s2_acc {
  margin: 5% 0;
}

.trait {
  display: block;
  left: 12px;
  width: 1px;
  border-radius: 8%;
  height: 100px;
  background-color: #1D5C58;
  position: absolute;
}

.rond {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

.s2_acc article {
  display: flex;
  position: relative;
}

.s2_acc h2 {
  margin: 0 0 10% 0;
  text-align: center;
}

/* --------------LISTE-----------------*/
.s2_acc ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s2_acc li {
  display: flex;
  align-items: center;
  gap: 10%;
  margin-bottom: 25px;
}

div.competences {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0% 3%;
  width: 100%;
  align-items: center;
  grid-auto-flow: row;
}

div.competences .competences-art {
  width: 50%;
  text-align: center;
}

div .error404 {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
