article {
    padding: 1% 8%;
}

.h1-def {
    color: gray;
    font-size: 13px;
}

div.competences {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0% 3%;
    width: 100%;
    align-items: center;
    grid-auto-flow: row;
}

div.competences .competences-art {
    width: 70%;
    text-align: center;
}

.activity div.competences .competences-art {
    padding: 20px;
    position: relative;
    border: 1px solid green;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.activity div.competences .competences-art a {
    position: absolute;
    padding: 5px;
    bottom: -14px;
    background-color: white;
}