.formulaire h2 {
    text-align: center;
    margin: 100px 0;
}

.rdv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: 15px;
    height: 100px;
    margin: auto;
    background-color: $vert;
    border-radius: 100px;
    color: #FFFFFF;
}

.rdv p {
    width: 50%;
    text-align: center;
}

.rdv>a {
    color: $vert;
    margin: 5px;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rdv>a>img {
    padding: 0 10px;
}

@media screen and (max-width:800px) {
    .formulaire h2 {
        margin: 40px 0;
    }

    .rdv {
        border-radius: 40px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .rdv p {
        width: 100%;
        text-align: center;
    }
}

/* ------------Formulaire------------ */
.formulaire2 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin: auto !important;
    padding: 1% 8% !important;
}

div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form button[type=submit],
div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    border: 1px solid !important;
    border-radius: 15px !important;
    width: 280px !important;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    width: 70% !important;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    font-size: 18px !important;
    font-family: $bold !important;
    color: #FFFFFF !important;
    background-color: $vert !important;
    border-radius: 8px !important;
    margin-top: 8px !important;
    margin-bottom: 20px !important;
}



@media screen and (max-width:800px) {

    .formulaire2 {
        width: 100% !important;
        margin: auto !important;
        padding: 1% 2%;
    }

    .form-desc {
        width: 100%;
        margin: 0 2%;
        display: grid;
        justify-content: center;
    }
}