article.profile {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

article.profile>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

article.profile>div h1 {
    padding-bottom: 20px;
}

article.profile img {
    width: 100%;
    height: 100%;
}

article.profile>div p {
    width: 80%;
}

@media screen and (max-width:1100px) {
    article.profile {
        display: flex;
        flex-direction: column;
    }

    article.profile>div p {
        width: 100%;
    }
}

a#scroll-down {
    width: 100%;
    display: flex;
    justify-content: center;
}

article.value {
    h2 {
        text-align: center;
        padding: 60px 0;
    }

    div>h3 {
        padding: 20px 0;
    }

    div>p {
        display: flex;
        align-items: center;
        margin: 30px;
    }
}

@media screen and (max-width:880px) {
    article.value div p {
        margin: 10px 5px;
    }

    article.value h2 {
        padding: 20px;
    }
}