article {
    padding: 1% 8%;
}

.h1-def {
    margin-bottom: 20px;
}

.home h3 {
    margin: auto;
}

.landing div.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landing div div li {
    list-style: disc;
    margin: 5px 0 5px 20px;
}

.activity h2 {
    text-align: center;
    padding-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:1200px) {
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .grid-art {
        margin-bottom: 100px;
    }
}

.grid .grid-art {
    text-align: center;
}

.grid .grid-art p {
    padding: 0 10px;
    margin-bottom: 30px
}

.activity div.grid .grid-art {
    position: relative;
    border: 1px solid $vert;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 340px;
}

.activity div.grid .grid-art img {
    padding: 50px;
}

.activity .grid-art a {
    border-radius: 8px;
    padding: 10px 25px;
    margin: auto;
    background-color: white;
    color: $vert;
}

.activity .grid-art a:hover {
    border: 1px solid $vert;
    border-radius: 8px;
    background-color: white;
}

/* presentation creatrice */

article.line {
    background-image: url("../images/line.svg");
    margin-top: 142px;
    display: flex;
    justify-content: right;
    padding: 0;
}


article div.creator {
    color: white;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    background-color: $vert;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    text-align: left;
    width: 80%;
    align-items: center;
}

article div.creator img {
    padding: 2%;
    width: 30%;
}

article div.creator {
    display: flex;
    flex-direction: row;
}

article div.portrait {
    margin: 2% 8% 2% 2%;
}

article div.portrait a {
    border-radius: 8px;
    padding: 10px 25px;
    color: $vert;
    background-color: white;
}

article div.portrait a:hover {
    color: white;
    background-color: $vert;
    border: solid 1px white;
}

/* ---------------------- témoignages ---------------------- */

article.temoignages h2 {
    margin: 132px 0px 144px 0px;
    text-align: center;
}