.wrap {
    padding: 0px 10%;
    font-family: $default;
    font-size: $text-font-size;
}

/** ----------------SECTION 1-------------- **/

.s1_acc {
    margin-top: 5%;
    text-align: center;
}

.s1_acc article {
    margin: 3% 0;
}

.s1_acc h1 {
    padding: 0 10%;
    margin: auto;
}

.s1_acc p {
    width: 50%;
    margin: auto;
}

@media screen and (max-width:880px) {
    .s1_acc article {
        margin: 2% 0;
    }

    .s1_acc h1 {
        padding: 0 5%;
        margin: auto;
    }

    .s1_acc p {
        width: 100%;
        margin: auto;
    }
}

/** ---------------SECTION 2----------------- **/

.s2_acc {
    margin: 3% 0;
}

.trait {
    display: block;
    left: 12px;
    width: 1px;
    border-radius: 8%;
    height: 100px;
    background-color: $vert;
    position: absolute;
}

.rond {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
}

.s2_acc article {
    display: flex;
    position: relative;
}

.s2_acc h2 {
    margin: 3% 0 7% 0;
    text-align: center;
}

@media screen and (max-width:880px) {
    .s2_acc {
        margin: 2% 0;
    }

    .s2_acc h2 {
        margin: 2% 0 2% 0;
    }
}

/* --------------LISTE-----------------*/

.s2_acc ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s2_acc li {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-bottom: 25px;
}

.s1_form {
    text-align: center;
}

.s1_form article {
    margin: 5% 0;
}

@media screen and (max-width:880px) {
    .s1_form article {
        margin: 2% 0;
    }

    .s2_acc li {
        gap: 5%;
    }
}

/** ------------SECTION 2-------- **/

.s2_form {
    margin: 10% 0;
    background-color: #1D5C58;
    border-radius: 270px;
    /*pour que ce soit rond et pas oval*/
    color: white;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    text-align: center;
}

.s2_form article {
    align-items: center;
}

.s2_form ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.s2_form li {
    justify-content: space-between;
    gap: 3%;
    text-align: center;
    margin: 0 4%;
}

@media screen and (max-width:880px) {
    .s2_form {
        border-top-left-radius: 140px;
        border-top-right-radius: 140px;
        gap: 0;
        margin: 3% 0;
        padding: 0;
        border-radius: 10px;
        width: 100%;
    }

    .s2_form ul {
        display: flex;
        flex-direction: column;
    }

    .s2_form img {
        width: 70%;
    }
}

/*----------------------SECTION 3 --------------------------*/

.s3_form {
    text-align: center;
    margin: 5% 0;
}

.s3_form article:nth-child(2) {
    padding: 0 17%;
    margin: 5% 0;
}

.s3_form article:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

@media screen and (max-width:880px) {
    .s3_form {
        margin: 2% 0;
    }

    .s3_form article:nth-child(2) {
        padding: 0 8%;
        margin: 2% 0;
    }
}