header {
    padding: 1% 8%;
    color: white;
    background-color: $vert;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

header>a:nth-child(2) {
    display: none;
}

header nav ul {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

header nav ul li {
    font-size: 16px !important;
    text-align: center;
    margin-left: 25px;
}

header nav ul:last-child>li>a,
header nav ul:nth-last-child(n-2)>li>a {
    font-family: "chillax" !important;
}

@media only screen and (max-width:800px) {
    header {
        padding: 1% 2%;
        justify-content: space-around;
    }

    header nav ul {
        font-size: 10px;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        margin-left: 10px;
    }

    header nav ul li {
        text-align: start;
        margin-left: 0;
    }

    header>a:first-child {
        display: none;
    }

    header>a:nth-child(2) {
        display: inline;
    }
}

@media only screen and (max-width:420px) {
    header nav ul {
        margin-left: 30px;
    }
}


header nav ul li:hover {
    border-bottom: 1px solid white;
    border-radius: 2px;
}

header img.muew-logo {
    max-width: 150px;
}

header>a {
    text-align: left;
    width: 20%;
}

/* changement de langue */
div.deroulant {
    display: flex;
    text-align: center;
    width: 30px;
    height: 25px;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    z-index: 5;
}

div.deroulant img {
    padding-left: 5px;
    padding-top: 10px;
}

.langage {
    color: white;
}

.langage>div {
    transition: 400ms;
    opacity: 0;
    background-color: $vert;
    border-radius: 8px;
    padding: 5px;
}

.deroulant:hover div {
    opacity: 1;
}

@media only screen and (max-width:800px) {
    div.deroulant {
        width: 45px;
    }
}

/* btn CTA */

div.btn-CTA {
    z-index: 3;
    display: flex;
    position: fixed;
    right: 0;
    top: 80%;
    flex-direction: row;
    float: right;
    clear: right;
    background-color: $vert;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

div.btn-CTA a {
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.btn-CTA a p {
    margin-left: 5px;
}