html {
    margin: 0 !important;
    font-family: $default;
    font-size: $text-font-size;
    font-weight: lighter;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: $bold;
}

h1 {
    font-size: $h1-font-size;
    line-height: 118%;
}

h2 {
    font-size: $h2-font-size;
    line-height: 44.8px;
}

h3 {
    font-size: $h3-font-size;
    line-height: 33.6px;
}

p {
    font-size: $corps-font-size;
    font-family: $default;
    line-height: 139%;
}

a,
button {
    font-size: $boutton-size;
    text-align: center;
    font-family: $bold;
}

footer {
    font-size: $footer-size;
    font-family: $footer-text-font;

    .footer-menu {
        font-family: $bold;
        font-size: $text-font-size;
    }
}


/* page mentions légales */
.s2_ment {
    margin: 5% 8%;
}

.s2_ment p {
    max-width: 80%;
    margin-bottom: 10px;
}

.s2_ment a {
    color: #1D5C58;
}