html {
    margin: 0 !important;
    font-family: $default;
    font-size: $text-font-size;
    font-weight: lighter;
}

h1,
h2,
h3 {
    font-family: $bold;
}

h1 {
    font-size: $h1-font-size;
    line-height: 118%;
}

h2 {
    font-size: $h2-font-size;
    line-height: auto;
}

h3 {
    font-size: $h3-font-size;
}

.h1-def {
    color: $color-legend;
    font-size: $legend-font-size;
    font-weight: bolder;
}

footer {
    font-size: $footer-size;
    font-family: $footer-text-font;

    .footer-menu {
        font-family: $bold;
        font-size: $text-font-size;
    }
}