html {
    margin: 0 !important;
    font-family: $default;
    font-size: $coprs-font-size;
    font-weight: lighter;
    scroll-behavior: smooth;
}

header {
    font-size: $corps-font-size;
}

@media screen and (max-width:880px) {

    html,
    article a,
    div a,
    footer a,
    button {
        font-size: $responsive-text;
    }
}

h1,
h2,
h3 {
    font-family: $bold;
}

h1 {
    font-size: $h1-font-size;
    line-height: 118%;
}

h2 {
    font-size: $h2-font-size;
    line-height: 44.8px;
}

h3 {
    font-size: $h3-font-size;
    line-height: 33.6px;
}

p {
    font-size: $corps-font-size;
    font-family: $default;
    line-height: 139%;
}

article a,
div a,
footer a,
button,
input::placeholder {
    font-size: $boutton-size;
    text-align: center;
    font-family: $bold;
}

footer {
    font-size: $footer-size;
    font-family: $footer-text-font;

    .footer-menu {
        font-family: $bold;
        font-size: $text-font-size;
    }
}

@media screen and (max-width:880px) {

    h1,
    h2,
    h3,
    header,
    footer {
        font-size: $responsive-title;
    }
}


/* page mentions légales */
.s2_ment {
    margin: 5% 8%;
}

.s2_ment p {
    max-width: 80%;
    margin-bottom: 10px;
}

.s2_ment a {
    color: #1D5C58;
}