@font-face {
    font-family: "chillax";
    src: url("../fonts/Chillax-Regular.otf");
}

@font-face {
    font-family: "chillax-medium";
    src: url("../fonts/Chillax-Medium.otf");
}

@font-face {
    font-family: "OpenS-Light";
    src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenS";
    src: url("../fonts/OpenSans-Regular.ttf");
}

$color-text: #1F1F1F;
$color-legend: rgba(0, 0, 0, 0.4);
$vert: #1D5C58;
$color-white: #FFFFFF;

$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$legend-font-size: 13px;
$bold: 'chillax-medium';

$intro-font-size: 24px;
$text-font-size: 20px;
$default: 'OpenS-Light';

$footer-size : 12px;
$footer-text-font : 'chillax';